/.coveralls.yml export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.php_cs export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/tests/ export-ignore
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
*.php text eol=lf
